@import url('https://fonts.googleapis.com/css2?&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

body{
    margin: 0 auto;
    height: 100vh;
    background-color: #131019;
    background-image: url(../../img/backgroundpage.jpg);
    background-position: 50% 0;
    background-repeat: repeat-y;
    background-size: 100%;
    color: #978CB1;
    //#978CB1
    //#8c7db0
}
h1,h2,h3,h4,p,span,a{
    font-family: 'Montserrat';
}